.main {
    position: relative;
    width: 12%;
    height: 60px;
    font-size: 2em;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.correct {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 18%;
    left: -8%;
}

.wrong {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 28%;
    left: 2%;
}
