.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .letter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  max-width: 1500px;
  justify-items: center;
  justify-content: center;
}

.App .letter-container-items {
  width: 12%;
  height: 60px;
  font-size: 2em;
}

.App .correct-word {
  display: flex;
  align-items: center;
  justify-content: center;
}
